
<DSL Version='1.13'>
    <Project>
        <Name>FBOmOp.OPModel</Name>
        <Version>01.00.00</Version>
        <Prefix>VF</Prefix>
        <Domain>OperationalData</Domain>
        <DomainAcronym>OP</DomainAcronym>
        <Guid>92f9e1cd-cbf8-4ad0-84ee-3bf68aec1a78</Guid>
		<ProjectKind>Library</ProjectKind>
    </Project>
    <References>
		<Project>
			<Name>FBOmMs.MSModel</Name>
			<Version>01.00.00</Version>
			<Prefix>VF</Prefix>
			<Domain>MasterData</Domain>
			<DomainAcronym>MS</DomainAcronym>
			<Guid>7c8f4e80-941b-4d99-8cd1-14ba4bc4f670</Guid>
		</Project>
    </References>
</DSL>