
<DSL Version='1.13'>
    <Project>
        <Name>FBOmApp.VFPOMModel</Name>
        <Version>01.00.00</Version>
        <Prefix>VF</Prefix>
        <Domain>FBOmApp</Domain>
        <DomainAcronym>VF</DomainAcronym>
        <Guid>2a0b0468-6cda-46e6-b1e7-7003106d37d5</Guid>
		<ProjectKind>Pom</ProjectKind>
    </Project>
    <References>
		<Project>
			<Name>FBOmOp.OPModel</Name>
			<Version>01.00.00</Version>
			<Prefix>VF</Prefix>
			<Domain>OperationalData</Domain>
			<DomainAcronym>OP</DomainAcronym>
			<Guid>92f9e1cd-cbf8-4ad0-84ee-3bf68aec1a78</Guid>
		</Project>
		<Project>
			<Name>FBOmMs.MSModel</Name>
			<Version>01.00.00</Version>
			<Prefix>VF</Prefix>
			<Domain>MasterData</Domain>
			<DomainAcronym>MS</DomainAcronym>
			<Guid>7c8f4e80-941b-4d99-8cd1-14ba4bc4f670</Guid>
		</Project>
    </References>
</DSL>